<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>
			{% block title %}
				{{- 'Onze trouwdag - ' ~ account.name -}}
			{% endblock %}
		</title>
		<meta name="description" content="{% block description %}{% endblock %}">
		<meta property="og:image" content="https://{{account.url}}{{account.oglogo}}">
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-vlOMx0hKjUCl4WzuhIhSNZSm2yQCaf0mOU1hEDK/iztH3gU4v5NMmJln9273A6Jz" crossorigin="anonymous">
		<link href="/static/css/main.css" rel="stylesheet" type="text/css">
		<style>
			body:before {
				background-image: url({{account.background_image}});
			}
			{% if account.accent_color %}
				.cards .card {
					background-color: {{account.accent_color}}
					;
					background-image: -moz-linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
					background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
					background-image: linear-gradient(to bottom, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);

				}
				a {
					color: {{account.accent_color}}
					;
				}
				.chat .messages .message.out {
					background-color: {{account.accent_color}}
					;
					border: 1px solid{{account.accent_color}};
				}
			{% endif %}
		</style>
	</head>
	<body>
		{% block body %}{% endblock %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
		<script src="/static/js/main.js" type="text/javascript"></script>
	</body>
</html>
